<h1><%= course['name'].capitalize %></h1>

<p>Details:</p>
<ul>
    <li>Par: <%= course['par'] %></li>
    <li>Number of holes: <%= course['num_holes'] %></li>
</ul>

<form method="post" action="/round?course_id=<%= course['id']%>">
    <button class="btn">Start round at <%= course['name'] %></button>
</form>