<section class="center-with-grid">
    <h1>Enter hole scores for <%= course['name'] %></h1>
    <% user = current_user_details%>

    <form class="center-with-grid" action="/scores" method="post">
        <input type="hidden" name="course_id" value="<%= course['id'] %>">
        <input type="hidden" name="round_id" value="<%= round_id %>">
        <input type="hidden" name="user_id" value="<%= user['id'] %>">

        <% 18.times do |i| %>
        <div class="edit-hole">
            <label>Hole <%= i + 1 %> Score:</label>
            <input type="number" name="hole_<%= i + 1 %>_score">
        </div>
        <% end %>
        <button class="btn">submit scorecard</button>
    </form>
</section>