<p>Welcome to Golf Buddy, your scorecard app.</p>


<% if logged_in? %>

<section class="posts center-with-grid">

    <h2>Recent posts from friends:</h2>
    <% posts.each do |post| %>

    <article class="post"> 

        <section class="post-meta">

            <div class="user">
                Posted by <a href="/profile/<%= post['user_id'] %>"><%= post['username'].capitalize %></a>
            </div>

            <div class="round-date">
                Played on <%= post['round_date'] %>
            </div>

        </section>

        <section class="post-round-details">

            <div class="course">
                <%= post['course_name'].capitalize %>
            </div>

            <div class="score">
                <%= post['user_total_score'] %>
            </div>

            <div class="par">
                <%= post['course_par'] %>
            </div>

        </section>

    </article>

    <% end %>

</section>

  <% end %>