<section class="center-with-grid">

<h1><%= user['username'].capitalize %>'s Profile</h1>

<% unless current_user_details['id'] == user['id'] %>
    <% if is_current_user_already_following? user['id'] %>
    <form action="/friends?friend_id=<%= user['id'] %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="btn">Unfollow</button>
    </form>
    <% else %>
    <form action="/friends?friend_id=<%= user['id'] %>" method="post">
        <button class="btn">Follow</button>
    </form>
    <% end %>
<% end %>


<section class="posts center-with-grid">

    <h2>Recent Posts:</h2>
    <% posts.each do |post| %>

    <article class="post"> 

        <section class="post-meta">

            <div class="user">
                Shared by <%= post['username'].capitalize %>
            </div>

            <div class="round-date">
                Played on <%= post['round_date'] %>
            </div>

        </section>

        <section class="post-round-details">

            <div class="course">
                <%= post['course_name'].capitalize %>
            </div>

            <div class="score">
                <%= post['user_total_score'] %>
            </div>

            <div class="par">
                <%= post['course_par'] %>
            </div>

        </section>

    </article>

    <% end %>

</section>
