<h1>Round at <%= round_details.first['course_name'] %> on <%= round_details.first['date'] %></h1>

<p>Your total score was <%= round_details.first['total_score'] %> (course par of <%= round_details.first['course_par'] %>)</p>


<section class="scorecard-v2">
    <div class="scorecard-grid">

        <div class="scorecard-row midnight-bgc">

            <div class="scorecard-label">
                Hole
            </div>
            <div class="scorecard-data">
                <% round_details.each do |hole|%>
                    <% if hole['hole_number'].to_i < 10 %>
                    <div class="scorecard-data-item">
                        <%= hole['hole_number'].to_i %>
                    </div>
                    <% end %>
                <% end %>               
            </div>

            <div class="scorecard-label">
                Total
            </div>
        
        </div>

        <div class="scorecard-row blue-bgc">
            <div class="scorecard-label">
                Par
            </div>

            <div class="scorecard-data">
            <% round_details.each do |hole|%>
                <% if hole['hole_number'].to_i < 10 %>
                <div class="scorecard-data-item">
                    <%= hole['hole_par'].to_i %>
                </div>
                <% end %>
            <% end %>              
            </div>

            <div class="scorecard-label">
                <%= round_details.first['front_9_par'] %> 
            </div>
        </div>

        <div class="scorecard-row scorecard-row-score">
            <div class="scorecard-label">
                Score
            </div>

            <div class="scorecard-data scorecard-data-scores">
            <% round_details.each do |hole|%>
                <% if hole['hole_number'].to_i < 10 %>
                    <% if hole['hole_par'].to_i ==  hole['user_score'].to_i %>   
                    <div class="scorecard-data-item scorecard-par">
                        <%= hole['user_score'].to_i %>
                    </div>
                    <% else %>
                    <div class="scorecard-data-item">
                        <%= hole['user_score'].to_i %>
                    </div>
                    <% end %>
                <% end %>
            <% end %>                
            </div>

            <div class="scorecard-label">
                <%= round_details.first['front_9_total_score'] %> 
            </div>
        </div> 
    </div>


<%# back 9 %>
    <div class="scorecard-grid">

        <div class="scorecard-row midnight-bgc">

            <div class="scorecard-label">
                Hole
            </div>
            <div class="scorecard-data">
                <% round_details.each do |hole|%>
                    <% if hole['hole_number'].to_i > 9 %>
                    <div class="scorecard-data-item">
                        <%= hole['hole_number'].to_i %>
                    </div>
                    <% end %>
                <% end %>               
            </div>

            <div class="scorecard-label">
                Total
            </div>
        
        </div>

        <div class="scorecard-row blue-bgc">
            <div class="scorecard-label">
                Par
            </div>

            <div class="scorecard-data">
            <% round_details.each do |hole|%>
                <% if hole['hole_number'].to_i > 9 %>
                <div class="scorecard-data-item">
                    <%= hole['hole_par'].to_i %>
                </div>
                <% end %>
            <% end %>              
            </div>

            <div class="scorecard-label">
                <%= round_details.first['back_9_par'] %> 
            </div>
        </div>

        <div class="scorecard-row scorecard-row-score">
            <div class="scorecard-label">
                Score
            </div>

            <div class="scorecard-data scorecard-data-scores">
            <% round_details.each do |hole|%>
                <% if hole['hole_number'].to_i > 9 %>
                <div class="scorecard-data-item">
                    <%= hole['user_score'].to_i %>
                </div>
                <% end %>
            <% end %>                
            </div>

            <div class="scorecard-label">
                <%= round_details.first['back_9_total_score'] %> 
            </div>
        </div> 
    </div>

</section>

<section class="scorecard-options center-with-grid">

    <form action="/posts?user_id=<%= user['id'] %>&username=<%= user['username']%>" method="post">
        <input type="hidden" name="round_date" value="<%= round_details.first['date'] %>">
        <input type="hidden" name="course_name" value="<%= round_details.first['course_name'] %>">
        <input type="hidden" name="course_par" value="<%= round_details.first['course_par'] %>">
        <input type="hidden" name="user_total_score" value="<%= round_details.first['total_score'] %>">
        <button class="btn">share</button>
    </form>

    <form action="/round/<%= round_details.first['round_id'] %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <button class="btn">edit</button>
    </form>

    <form action="/round/<%= round_details.first['round_id'] %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="btn">delete</button>
    </form>
</section>

