<section class="center-with-grid">

<h1><%= user['username'].capitalize %>'s Profile</h1>

<section class="user-options">
    <a class="btn" href="/start-game">start round</a>
    <a class="btn" href="/round">view rounds</a>
    <a class="btn" href="/posts/<%= user['id'] %>">edit posts</a>
    <a class="btn" href="/profile/<%= user['id'] %>">view profile</a>
</section>


<section class="center-with-grid">
    <h2>Round statistics</h2>

    <p><%= user['username'].capitalize %>, based on your saved rounds you average <%= avg_score %> shots per round with a personal best of <%= min_score %>!</p>
    <ul>
        <li>Avg score by course:
            <ul>
                <% avg_score_per_course.each do |course| %>
                <li><%= course['course_name'] %>: <%= course['avg_total_score'] %></li>
                <% end %>
            </ul>
        </li>
        <li>Avg score by par:
            <ul>
                <% avg_score_per_par.each do |par| %>
                <li>Par <%= par['par'] %>: <%= par['avg_score'] %></li>
                <% end %>
            </ul></li>
    </ul>
</section>

<h2>Account Options</h2>
    <section class="user-options">
        <a class="btn" href="/user/<%= user['id'] %>/edit">edit</a>
        <form action="/user/<%= user['id'] %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <button class="btn">delete</button>
        </form>
    </section>
</section>

